In [28]:
import mysql.connector

In [29]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd=""
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000185B8058950>

In [30]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Authorized_user")

In [32]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('authorized_user',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('python_database',)
('student',)
('students',)

In [33]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd="",
database="authorized_user"
)
mycursor=mydb.cursor()
mycursor.execute("""create table my_table(id int primary key, Name varchar(50), Age int, Address varchar(50))""")

In [7]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('my_table',)

In [17]:
sql="INSERT INTO stu_table(id,name,age) values(%s,%s,%s)"
val = (1,"Ajay",23)
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount, "record inserted")

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'PRIMARY'

In [ ]:
sql="INSERT INTO stu_table(id,name,age) values(%s,%s,%s)"
val = [(2,"Vijay",25),
      (3,"Sujay",20)]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount, "record inserted")

In [18]:
mycursor.execute("select * from stu_table")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'Ajay', 23)
(2, 'Vijay', 25)
(3, 'Sujay', 20)

In [35]:
import tkinter as tk
from tkinter import *

window=tk.Tk()
window.title("Graphical user interface")

l1=tk.Label(window,text="Name",font=("Times New Roman",20))
#1.grid(column=0,row=0)

#l1.pack()
l1.place(x=5,y=0)


t1=tk.Entry(window, width=30, bd=5)
#t1.grid(column=1,row=0)
#t1.pack(fill=BOTH)
t1.place(x=150, y=5)



l1=tk.Label(window,text="Roll number",font=("Times New Roman",20))
l1.place(x=5,y=50)
t2=tk.Entry(window, width=30, bd=5)
t2.place(x=150, y=55)

l1=tk.Label(window,text="Branch",font=("Times New Roman",20))
l1.place(x=5,y=100)
t3=tk.Entry(window, width=30, bd=5)
t3.place(x=150, y=105)

l1=tk.Label(window,text="District",font=("Times New Roman",20))
l1.place(x=5,y=150)

from tkinter.ttk import *
c1=Combobox(window)
c1['values']=("Srikakulam","Vizianagaram"," Parvathipuram Manyam","Alluri Sitharama Raju","Visakhapatnam ","Anakapalli","Kakinada","Konaseema","East Godavari","West Godavari","Eluru","Krishna","NTR","Guntur","Palnadu","Bapatla","Prakasam","Nellore"," Kurnool","Nandyal","Anantapuramu","Sri Sathya Sai","YSR","Annamayya","Tirupati","Chittoor")
c1.current(0)
c1.place(x=150, y=155)

l1=tk.Label(window,text="Year",font=("Times New Roman",20))
l1.place(x=5,y=200)

var1=IntVar()
c2=Checkbutton(window, text='1st Year',var=var1)
c2.place(x=150, y=205)

var2=IntVar()
c3=Checkbutton(window, text='2nd Year',var=var2)
c3.place(x=235, y=205)

var3=IntVar()
c4=Checkbutton(window, text='3rd Year',var=var3)
c4.place(x=325, y=205)

var4=IntVar()
c5=Checkbutton(window, text='4th Year',var=var4)
c5.place(x=405, y=205)

l1=tk.Label(window,text="Gender",font=("Times New Roman",20))
l1.place(x=5,y=250)

var=IntVar()
r1=tk.Radiobutton(window, text='Male',variable=var, value=1)
r1.place(x=150,y=255)

r1=tk.Radiobutton(window, text='Female',variable=var, value=2)
r1.place(x=250,y=255)

r1=tk.Radiobutton(window, text='Other',variable=var, value=3)
r1.place(x=350,y=255)

l1=tk.Label(window,text="classes",font=("Times New Roman",20))
l1.place(x=5,y=300)

from tkinter import scrolledtext
txt=scrolledtext.ScrolledText(window,width=30,height=1)
txt.place(x=150,y=305)
txt.insert(tk.INSERT, "Enter today's subject classes")

l1=tk.Label(window,text="no of classes",font=("Times New Roman",15))
l1.place(x=5,y=370)

spin=tk.Spinbox(window,from_=0,to=100,width=5)
spin.place(x=150,y=375)

from tkinter import messagebox
def btn_clicked():

    mydb=mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="",
        database="python_database"
        )
    mycursor=mydb.cursor()

    sql="insert into my_table(Name, `Roll number`, Branch, District, Year, Gender, classes, `no of classes`) values(%s,%s,%s,%s,%s,%s,%s,%s)"

    if var1.get()==1:
        s1="1st Year"
    elif var2.get()==1:
        s1="2nd Year"
    elif var3.get()==1:
        s1="3rd Year"
    elif var4.get()==1:
        s1="4th Year"
    else:
        s1=""

    if var.get()==1:
        s2="Male"
    elif var.get()==2:
        s2="Female"
    elif var.get()==3:
        s2="Other"
    else:
        s2=""

    
    val=(t1.get(),t2.get(),t3.get(),c1.get(),s1,s2,txt.get("1.0",tk.END),spin.get())
    mycursor.execute(sql,val)
    mydb.commit()
    messagebox.showinfo('Message box','Your data is successfully inserted...')
b1=tk.Button(window,text="Submit", font=("Ariel bold", 15),command=btn_clicked)
b1.place(x=210,y=415)

window.geometry("500x500")
window.mainloop()